.footer {
  z-index: 2;
  .site-container {
    position: relative;
  }

  &_layer {
    position: absolute;
    top: 50%;
    right: 10rem;
    z-index: -1;
    width: 65.8rem;
    height: 51.3rem;
    background: linear-gradient(180deg, rgba(198, 183, 242, 0.2) 0%, rgba(52, 68, 222, 0.2) 100%);
    filter: blur(160px);
    transform: translateY(-50%) rotate(-0.42deg);
  }

  &__container {
    background-color: var(--color-white);
    padding: 4.8rem 4.4rem;
    border-radius: 3.2rem;
    margin-bottom: 3rem;

    @include mq(md) {
      display: block;
      padding: 2.6rem 1.6rem;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:nth-child(1) {
      grid-column: 8 span;
    }

    &:nth-child(2) {
      grid-column: 4 span;
    }
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    font: var(--font-title-2);
    margin-bottom: 5.1rem;
    padding-left: 12.6rem;

    &:hover {
      color: var(--color-blue-700);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 4rem;
      height: 4rem;
      background-color: currentColor;
      transform: translateY(-50%);
      border-radius: 50%;
      content: "";
    }

    @include mq(sm) {
      font-size: 2.6rem;
      line-height: 1;
      margin-bottom: 3.2rem;
      padding-left: 5.6rem;

      &::before {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }

  &__block-content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: var(--grid-offset);
    margin-bottom: 2.7rem;
    align-self: stretch;

    &:last-child {
      margin-top: auto;
    }
  }

  &__block-content-item {
    &:nth-child(1) {
      grid-column: 2 span;
    }

    &:nth-child(2) {
      grid-column: 6 span;
    }
  }

  &__small-legend {
    display: block;
    max-width: 20.7rem;
  }

  &__social {
   

    &._mobile {
      display: none;
    }

    @include mq(sm) {
      display: none;
      margin-bottom: 1.6rem;

      &._mobile {
        display: flex;
      }
    }
  }

  &__img {
    display: block;
    width: 32.4rem;
    height: 37rem;
    object-fit: cover;

    @include mq(md) {
      margin: auto;
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    color: var(--color-grey-500);
    flex-wrap: wrap;
    gap: 3.2rem;

    p {
      margin-right: 4.4rem;
    }

    a {
      margin-right: 4.4rem;

      &:hover {
        color: var(--color-blue-700);
      }
    }

    @include mq(lg) {
      p {
        margin-right: 2rem;
      }

      a {
        margin-right: 2rem;
      }
    }

    @include mq(md) {
      p {
        width: 100%;
        margin-right: 0;
      }
    }

    @include mq(sm) {
      gap: 2.4rem;

      a:not(.markweber) {
        width: 46%;
        margin-right: 0;
        text-decoration: underline;
      }
    }
  }
}
