.header {
  // position: fixed;
  // top: 0;
  // left: 0;
  // width: 100%;
  // z-index: 25;
  height: var(--header-height);
  // overflow: hidden;
  margin-top: 2rem;

  @include mq(sm) {
    height: 3.5rem;
  }

  &__container {
    background-color: var(--color-white);
    border-radius: 12.3rem;
    padding: 1.2rem 1.6rem 1.2rem;

    @include mq(lg) {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
    }
  }

  &__block {
    align-self: center;

    &:nth-child(1),
    &:nth-child(2) {
      grid-column: 2 span;
    }

    &:nth-child(3) {
      grid-column: 8 span;
      display: flex;
      align-items: center;
    }

    @include mq(lg) {
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1) {
        grid-column: 12 span;
        display: flex;
        align-items: center;
      }

      &:nth-child(3) {
        display: none;
      }
    }
  }

  &__second-logo {
    display: flex;
    align-items: center;

    &-icon {
      flex-shrink: 0;
      margin-right: 1.2rem;
      width: 2.7rem;
      height: 2.7rem;
    }

    p {
      font: var(--font-body-S);
      max-width: 22.6rem;
    }
  }

  &__nav {
    margin-left: auto;
    margin-right: 4rem;

    @include mq(lg) {
      display: none;
    }

    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      margin-right: 2.4rem;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      transition: color var(--transition);

      &:hover {
        color: var(--color-blue-700);
      }
    }
  }

  &__btn {
    @include mq(lg) {
      display: none;
    }
  }

  &__btn-burger {
    display: none;

    @include mq(sm) {
      display: flex;
      margin-right: 2.8rem;
    }
  }

  &__mobile-link {
    display: inline-block;
    margin-right: auto;
  }
}
