section.section.about-org#organizators
  .about-org_layer
  .site-container.about-org__contaoner
    h2.visually-hidden об организаторах
    +icon-multi("organizers")(width="1409" height="110" class="about-org__heading")
    .about-org__blocks.grid-container
      .about-org__blocks-item
        .about-org__oragnization
          +icon-mono("logo-second")(width="47" height="47" class="about-org__oragnization-icon")
          .about-org__oragnization-content
            p.about-org__oragnization-legend-text
              | Международный научно-образовательный центр «Безопасность и надежность критических цифровых технологий» Университета ИТМО
            p.about-org__oragnization-text
              | Современный факультет, с долгой историей, сочетающий в себе академические традиции и инновационный подход в образовании. Выпускники всегда востребованы в российских и зарубежных компаниях и организациях.
            .about-org__oragnization-feautures
              .about-org__oragnization-feautures-item
                +icon-mono("portfolio")(width="20" height="20" class="about-org__oragnization-feautures-icon")
                | Бизнес
              .about-org__oragnization-feautures-item
                +icon-mono("book-user")(width="20" height="20" class="about-org__oragnization-feautures-icon")
                | Образование
              .about-org__oragnization-feautures-item
                +icon-mono("physics")(width="20" height="20" class="about-org__oragnization-feautures-icon")
                | Наука
      .about-org__blocks-item
        .about-org__oragnization
          +icon-mono("logo-arsib")(width="79" height="41" class="about-org__oragnization-icon")
          .about-org__oragnization-content
            p.about-org__oragnization-legend-text
              | АРСИБ – Ассоциация руководителей служб информационной безопасности
            p.about-org__oragnization-text
              | Современный факультет, с долгой историей, сочетающий в себе академические традиции и инновационный подход в образовании. Выпускники всегда востребованы в российских и зарубежных компаниях и организациях.
            .about-org__oragnization-feautures
              .about-org__oragnization-feautures-item
                +icon-mono("portfolio")(width="20" height="20" class="about-org__oragnization-feautures-icon")
                | Бизнес
              .about-org__oragnization-feautures-item
                +icon-mono("book-user")(width="20" height="20" class="about-org__oragnization-feautures-icon")
                | Образование
              .about-org__oragnization-feautures-item
                +icon-mono("physics")(width="20" height="20" class="about-org__oragnization-feautures-icon")
                | Наука
