section.about-ctf.section
  .site-container
    .about-ctf__container
      h2.about-ctf__heading.js-animated-heading
        span._circle-container
          span._circle
          span._circle
          span._circle
          span._circle
          span._circle
          | Что
        |   такое формат CTF?
      .about-ctf__blocks.grid-container
        .about-ctf__blocks-item
          .about-ctf__img
            include about-svg.pug
        .about-ctf__blocks-item
          p.about-ctf__txt
            | CTF (Capture the Flag) – соревнования по информационной безопасности, в которых участники исследуют разные системы, решают таски и находят “флаги”, то есть ценную, но недостаточно защищенную информацию. Участники отправляют флаги на специальный сервер и получают баллы, которые идут в общий зачет и отображаются на борде.
          p.about-ctf__txt_small
            | Все системы, в которых участники ищут флаги, придуманы специально для соревнований, поэтому их можно ломать и тестировать как угодно. Это не преступление, если вы взломали искусственную систему, и вам было весело.
