block commonBlockVariable
  -
    let common_block_arr
    let heading
    let modClass
    let smallText
    let bgLayer

main.page-main.main
  include hero.pug
  include participants.pug
  include about.pug
  include preapare.pug
  include why-participate.pug
  include what-bring.pug
  include participant-banner.pug
  include about-org.pug
  include gallery.pug
  include ../../parts/faq.pug
  include map.pug
