section.section.preapare#prepare
  .site-container.preapare__container
    h2.visually-hidden как подготовиться
    +icon-multi("how-to-prepare")(width="1559" height="132" class="preapare__svg-heading")
    .preapare__content.grid-container
      .preapare__content-block
      .preapare__content-block
        .preapare__content-item
          p.preapare__legeng-text Таски на Neva CTF подойдут каждому, даже новичку
          p.preapare__text
            | Но&nbsp;предварительная подготовка еще никогда не&nbsp;была лишней. Если вы&nbsp;хотите подтянуть навыки, знать, что вас ждет и&nbsp;иметь преимущество над соперниками, мы&nbsp;рекомендуем проверенные материалы.
        .preapare__content-item
          a.preapare__link(href="/")
            .preapare__link-icon-wrapper
              +icon-mono("book")(class="preapare__link-icon" width="20" height="20")
            p
              | Онлайн-учебник <br> &laquo;Информационные технологии и&nbsp;их&nbsp;безопасность&raquo; от&nbsp;[team Team]
          a.preapare__link(href="/")
            .preapare__link-icon-wrapper
              +icon-mono("paly")(class="preapare__link-icon" width="20" height="20")
            p
              | Видеокурсы &laquo;Основы компьютерной безопасности&raquo; от&nbsp;Hackerdom
          a.preapare__link(href="/")
            .preapare__link-icon-wrapper
              +icon-mono("school-board")(class="preapare__link-icon" width="20" height="20")
            p
              | Лекции для начинающих от&nbsp;сообщества спортивного хакинга CTF
