-
  common_block_arr  = [
    {
      name: "Ученический билет",
      img: "images/what-bring/img1.jpg"
    },
    {
      name: "Ноутбук, на котором вы будете работать",
      img: "images/what-bring/img2.jpg"
    },
    {
      name: "Упорство и азарт",
      img: "images/what-bring/img3.jpg"
    }
  ]

  heading = '<span> Что </span> принести с собой?'
  modCardClass = ''
  bgLayer = false
  smallText = 'Для участия необходимо'
  aditionalClass = 'mod-slider'

include ../../parts/common-info-block.pug
