-
  common_block_arr  = [
    {
      name: "Призы от партнеров и спонсоров",
      img: "images/participate/img1.svg"
    },
    {
      name: "Дополнительные баллы для поступления в ИТМО",
      img: "images/participate/img2.svg"
    },
    {
      name: "Сертификаты и дипломы победителей для портфолио",
      img: "images/participate/img3.svg"
    }
  ]

  heading = '<span> Почему </span> стоит принять участие?'
  modCardClass = 'mod-border-card'
  bgLayer = true
  smallText = 'Победители получают'

include ../../parts/common-info-block.pug
