section.section.shield
  .site-container
    .shield__container
      h3.first-heading.shield__heading.js-animated-heading
        | <span>Заполните</span> анкету для участия
      .shield__blocks.grid-container
        .shield__blocks-item
          img.shield__img.lazy(data-src="images/shield/img1.svg" src="#" alt="")
        .shield__blocks-item
          p
            | Для участия в олимпиаде достаточно заполнить анкету регистрации на всю команду.
          p
            | Вам останется только следить за обновлениями!

          +button("Заполнить анкету")(class="shield__btn")
