-
  let faq_arr = [
    "Могут ли из одной школы участвовать несколько команд?",
    "Существует ли регламент проведения олимпиады?",
    "Время и место проведения",
    "Как добраться?"
  ]

section.section.faq#faq
  .site-container.faq__container
    h2.faq__heading.second-heading.js-animated-heading
      | <span>Ответы</span> на частые вопросы
    .faq__content.grid-container
      .grid-container__block
        span.faq__small-legend Полезная информация
      .grid-container__block.faq__item-container
        ul.faq__list
          li.faq__item
            button.faq__btn.button-reset.js-drop-menu-btn
              span.faq__btn-txt Могут ли из одной школы участвовать несколько команд?
              span.faq__btn-icon
                span
                span
            .drop-menu-container.js-drop-menu-container
              .faq__item-body.drop-menu.js-drop-menu
                p
                  | Да, конечно! Главное, чтобы в команде было не более 4 участников.
          li.faq__item
            button.faq__btn.button-reset.js-drop-menu-btn
              span.faq__btn-txt Существует ли регламент проведения олимпиады?
              span.faq__btn-icon
                span
                span
            .drop-menu-container.js-drop-menu-container
              .faq__item-body.drop-menu.js-drop-menu
                p
                  | Да, регламент проведения вы можете найти #[a(href="docs/reglament.pdf" target="_blank") тут]
          li.faq__item
            button.faq__btn.button-reset.js-drop-menu-btn
              span.faq__btn-txt Я не из Санкт-Петербурга. Могу ли я участвовать в Neva CTF?
              span.faq__btn-icon
                span
                span
            .drop-menu-container.js-drop-menu-container
              .faq__item-body.drop-menu.js-drop-menu
                p
                  | Да, но олимпиада очная, поэтому потребуется ваше присутствие в день проведения. 
          li.faq__item
            button.faq__btn.button-reset.js-drop-menu-btn
              span.faq__btn-txt Какие классы могут участвовать в Neva CTF?
              span.faq__btn-icon
                span
                span
            .drop-menu-container.js-drop-menu-container
              .faq__item-body.drop-menu.js-drop-menu
                p В олимпиаде могут участвовать учащиеся 8-11 классов общеобразовательных школ. Участники из младших классов допускаются по дополнительному согласованию: напишите нам на почту #[a(href="mailto:fbititmo@gmai.com") fbititmo@gmai.com]
                  
                 

