-
  let nav_arr = [
    "Организаторы",
    "Подготовка",
    "Призы",
    "Ответы на вопросы",
    "Контакты"
  ]

header.header
  .site-container
    .header__burger-menu.js-burger-menu
      .header__burger-menu-inner
        .header__burger-menu-buttons 
          button.header__burger-menu-close.js-burger-close
            +icon-mono("cross")(width="24" height="24")
          a.header__burger-menu-phone-btn(href="#")
            +icon-mono("phone")(width="24" height="24")
          a.header__burger-menu-callback-btn(href="#" data-path="callback") Заполнить анкету
        .header__burger-menu-content 
          nav.header__burger-menu-nav 
            a.header__burger-menu-nav-link(href="#organizators") Организаторы
            a.header__burger-menu-nav-link(href="#prepare") Подготовка
            a.header__burger-menu-nav-link(href="#prizes") Призы
            a.header__burger-menu-nav-link(href="#faq") Ответы на вопросы
            a.header__burger-menu-nav-link(href="#contacts") Контакты
          .header__burger-menu-social 
            a.header__burger-menu-social-link(href="#") 
              +icon-mono("tg")(width="24" height="24")
            a.header__burger-menu-social-link(href="#") 
              +icon-mono("vk")(width="24" height="24")
            a.header__burger-menu-social-link(href="#") 
              +icon-mono("wp")(width="24" height="24")
    .header__container.grid-container.js-emerging-block
      .header__block
        button.button-reset.button-burger.header__btn-burger.js-burger-open
          span
          span
          span
        .header__mobile-link
          +icon-mono("logo-second")(width="27" height="27" class="header__second-logo-icon")
        .logo
          +icon-multi("logo")(width="200" height="22" class="logo__icon")
      .header__block
        .header__second-logo
          +icon-mono("logo-second")(width="27" height="27" class="header__second-logo-icon")
          p МНОЦ &laquo;Безопасность и&nbsp;надежность критических цифровых технологий&raquo;
      .header__block
        nav.header__nav
          ul.header__nav-list
            li.header__nav-item
              a.header__nav-link(href="#organizators") Организаторы
            li.header__nav-item
              a.header__nav-link(href="#prepare") Подготовка
            li.header__nav-item
              a.header__nav-link(href="#prizes") Призы
            li.header__nav-item
              a.header__nav-link(href="#faq") Ответы на вопросы
            li.header__nav-item
              a.header__nav-link(href="#contacts") Контакты
        +button("Заполнить анкету")(class="header__btn")
