<script src="https://yastatic.net/s3/frontend/forms/_/embed.js"></script>
.modal__container(data-target="callback")
  .modal__content
    button.button-reset.modal__close-btn.modal-close
      span
      span
    <iframe src="https://forms.yandex.ru/u/623b30c7f8948d8b538a07a3/?iframe=1" frameborder="0" name="ya-form-623b30c7f8948d8b538a07a3" width="650"></iframe>
