.intro {
  z-index: 2;
  padding-top: 3.7rem;

  &__container {
    position: relative;
  }

  &__content-small-legend {
    @include mq(sm) {
      display: block;
      margin-bottom: 2.4rem;
    }
  }

  &_blur {
    position: absolute;
    bottom: 11rem;
    left: 50%;
    z-index: -1;
    width: 78rem;
    height: 57rem;
    background: rgba(85, 178, 229, 0.2);
    filter: blur(186px);
    transform: rotate(30.44deg) translateX(-50%);
  }

  &_blur2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 73.6rem;
    height: 62.7rem;
    background: linear-gradient(
      180deg,
      rgba(198, 183, 242, 0.2) 0%,
      rgba(52, 68, 222, 0.2) 100%
    );
    filter: blur(186px);
  }

  &_bg-svg {
    position: absolute;
    right: 0;
    bottom: -4rem;
    z-index: -1;
    width: 85.5rem;
    height: 52.5rem;
    background-image: url(../images/intro-bg-svg2.svg);
    background-position: center;
    background-size: cover;

    @include mq(sm) {
      right: -26rem;
      bottom: -11rem;
      z-index: -1;
      width: 47.5rem;
      height: 34.5rem;
    }
  }

  &__heading {
    position: relative;
    font: var(--font-hero);
    text-transform: uppercase;
    margin-bottom: 3rem;
    overflow: hidden;

    @include mq(md) {
      font: var(--font-title-1);
    }

    @include mq(sm) {
      font-size: 7.4rem;
      line-height: 1;
      margin-bottom: 1.8rem;
    }
  }

  &__content {
    margin-bottom: 10rem;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    @include mq(custom, max, 1280) {
      margin-bottom: 9rem;
    }

    @include mq(md) {
      display: block;
    }

    @include mq(sm) {
      margin-bottom: 6rem;
    }
  }

  &__content-block {
    &:nth-child(1) {
      grid-column: 2 span;
    }

    &:nth-child(2) {
      grid-column: 10 span;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      column-gap: var(--grid-offset);

      @include mq(sm) {
        display: block;
      }
    }
  }

  &__content-block-item {
    &:nth-child(1) {
      grid-column: 7 span;
    }

    &:nth-child(2) {
      grid-column: 3 span;

      @include mq(sm) {
        display: none;
      }
    }
  }

  &__content-txt {
    font: var(--font-roboto);
    max-width: 51.9rem;
    letter-spacing: -0.02em;
    margin-bottom: 3.5rem;

    @include mq(sm) {
      font: var(--font-roboto-M);
      max-width: 100%;
      margin-bottom: 7.5rem;
    }
  }

  &__content-btn-wrapper {
    display: inline-flex;
    align-items: center;
    padding: 0.8rem 0.9rem;
    border-radius: 22rem;
    background-color: var(--color-white);
    padding-right: 2.5rem;

    @include mq(sm) {
      width: 100%;
      justify-content: space-between;
      padding-left: 2.8rem;
      padding-right: 0.8rem;
    }
  }

  &__content-btn {
    margin-right: 1.9rem;

    @include mq(sm) {
      order: 2;
      margin-right: 0;
    }
  }

  &__content-days-left-txt {
    color: var(--color-purple-900);
    max-width: 10.7rem;

    @include mq(sm) {
      order: 2;
      font: var(--font-body-S);
    }
  }

  &__content-days-left {
    display: block;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--color-purple-900);
    flex-shrink: 0;

    @include mq(sm) {
      order: 1;
      font: var(--font-roboto);
      font-weight: 700;
      margin-bottom: 0.4rem;
    }
  }

  &__content-date {
    font: var(--font-hero);
    letter-spacing: -0.07em;
    text-transform: uppercase;
    overflow: hidden;

    @include mq(sm) {
      font-size: 7rem;
      line-height: 1;
      padding-right: 0.4rem;
    }
  }

  &__content-date-year {
    display: block;
    font: var(--font-roboto);
    letter-spacing: -0.02em;

    @include mq(sm) {
      font: var(--font-roboto-M);
      text-transform: lowercase;
    }
  }

  &__content-organizers {
    display: flex;

    @include mq(sm) {
      flex-wrap: wrap;
    }

    &-item {
      margin-right: 3.6rem;

      &:last-child {
        margin-right: 0;

        p {
          max-width: 23.2rem;
        }
      }

      p {
        margin-bottom: 2.1rem;
        max-width: 35.4rem;
      }

      @include mq(sm) {
        display: flex;
        width: 100%;

        p {
          order: 2;
        }
      }
    }

    &-icon {
      @include mq(sm) {
        flex-shrink: 0;
        order: 1;
        margin-right: 3rem;
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }

  &__content-adress {
    margin-bottom: 0.6rem;
  }

  &__content-link {
    &:hover {
      color: var(--color-blue-700);
    }
  }

  &__content-socials-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.9rem;
  }

  &__content-regulation-wrapper {
    display: flex;
    align-items: center;
  }

  &__content-regulation {
    display: flex;
    align-self: center;
    font: var(--font-body-S);
    max-width: 12rem;
    margin-left: 3.6rem;

    &:hover {
      .icon {
        stroke: var(--color-blue-700);
      }
    }

    @include mq(sm) {
      display: none;
    }
  }

  &__content-regulation-icon {
    fill: none !important;
    stroke: var(--color-grey-900);
    flex-shrink: 0;
    margin-right: 0.8rem;
    transition: stroke var(--transition);
    width: 2.7rem;
    height: 2.7rem;
  }

  &__content-days-wrapper {
    display: flex;
    align-items: center;

    @include mq(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content-block-mobile {
    display: none;
    margin-bottom: 4rem;

    @include mq(sm) {
      display: flex;

      .intro__content-regulation {
        display: flex;
        margin-left: 0;
        margin-top: 2.4rem;
      }

      .intro__content-adress {
        margin-bottom: 1rem;
        max-width: 20rem;
      }
    }
  }

  &__content-block-mobile-item {
    margin-right: 1rem;
    flex-shrink: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

