include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
  head
    include ../parts/head.pug
  body(class=bodyClass class="page-body")
    .preloader
      +icon-multi("logo")(width="200" height="22" class="preloader__logo")
    .page-wrapper
      block header
        include ../parts/header.pug

      block content

      block footer
        include ../parts/footer.pug
    .modal
      include ../parts/modal.pug
  block scripts
    script(src="https://api-maps.yandex.ru/2.1/?apikey=a58dcee9-fa75-40ad-b995-8342138dd924&lang=ru_RU")
    script(src="js/main.js?v=" + siteVersion)
